.shop {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgb(9,84,2);
    background: radial-gradient(circle, rgba(9,84,2,1) 0%, rgba(0,11,3,1) 100%);
    padding: 50px;
    display: flex;
    flex-direction: column;
    position: relative;

}

.Board{
    height: 100%;
    display: block;
    columns: 5;
    background: rgb(255, 255, 255);
    
    border: 1px solid rgb(15, 15, 15);
    border-radius: 4px;
    padding: 10px;

}

.Cartas {
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin: auto;
    display: flex;
    position: relative;
    
    
    padding:0;
}
li{
    margin:5px;
    font-size: small;
    height: 350px;
    border: 0px solid;
    padding: 10px;
    position: relative;
    
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
    
}
.producto{
    width: 150px;
    height: 100px;
    /* display: block; */
    position: relative;
    margin: auto;
   
    
}
.title{
    
    font-weight: bold;
    color: black;
    text-align: center;
    
    position: relative;
    width: 100%;
    height: 100%;
    
}

.price{
    font-size: medium;
    font-weight: bold;
    color: black;
    text-align: center;
    margin: auto;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    
}

.btn-grad {background-image: linear-gradient(to right, #ADD100 0%, #7B920A  51%, #ADD100  100%)}
.btn-grad {
   margin: 10px;
   padding: 10px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

