.Board {
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 300px;
    background-color: #a05e5e;
    margin-right:300px;
}
.Cartas {
    
    align-items: center;
    justify-content: center;
    width:400px;
    height: 300px;
    background-color: #ad7979;
    margin-right:300px;
}
.card{
    columns: 3;
}