.text {
    align-items: center ;
    justify-content: center;
    font-size: small;
    color: red;
}

.CardImg{
    align-items: center ;
    width: 100px;
    height: 300px;
   
}
.card{
    width: 100%;
    text-align: left;
    flex-direction: column;
}