.App {
  text-align: center;
}

.App-content {
  background-color: #d1b9b9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);

}
/* 
.App-link {
  
} */

@keyframes App-gif-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* cssbuttons.io
mycolor.space
neumorphism.io
remove.bg
bgjar.com */